{{#each expenses}}
  {{#if description}}
    {{separator created_at}}
    <li data-date="{{created_at}}" class="slideright arrow">
      <a href="#" class="update-expense" data-expense-index="{{@index}}">
        {{description}} <small class="counter {{amountType amount}}">{{formatCurrency amount}}</small>
      </a>
    </li>
  {{/if}}
{{/each}}
{{#ifPagination model}}
  <li id="load-more">
    <a href="#" id="more-expenses">
      Load more expenses...
      <div>{{remaining}} expenses remaining, {{total}} total</div>
    </a>
  </li>
{{/ifPagination}}
